name: Tests

on: pull_request

permissions:
  contents: read

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository
        uses: actions/checkout@v3
      - uses: ./.github/actions/python-setup
      - name: Run tests
        run: poetry run pytest -vv --cov=sql_to_odata --cov-report=term --cov-report=xml
